# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.env.local
package-lock.json

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
node_modules
.next

.vercel
.hintrc
client_secret_696815860492-5i92uj7859f3vtmtl96paho39buro7kf.apps.googleusercontent.com.json